<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076403687986-tu58nnpaik5otuhp2vibh34e175c54o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076403687986-tu58nnpaik5otuhp2vibh34e175c54o7</string>
	<key>API_KEY</key>
	<string>AIzaSyDnrb3jgLx43ACsY9IULcdo3zH13hjui_0</string>
	<key>GCM_SENDER_ID</key>
	<string>1076403687986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-96769</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-96769.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076403687986:ios:e994f607d136dedf08222b</string>
</dict>
</plist>